<div class="form-container mt-3">
    <p><b>Listado de productos en tiempo real</b></p>
    <div id="listContainer" style="overflow-y: scroll; height: 350px;">
    </div>    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>

